*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

.center{
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.main{
    padding: 40px 0;
    background-color: rgb(92, 43, 226);
    min-height: 70px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h3{
    color: white;
}

.header a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 3px 8px;
    border-radius: 8px;
}

.select-card{
    max-width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
    padding: 8px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 8px;
}

.select-card link{
    text-decoration: none;
}

.select-card img{
    width: 200px;
    border-radius: 5%;
}

@media screen and (max-width: 768px){
    .select-card{width: 100%;}
    
}